name: Deploy master branch

on:
  push:
    branches:
      - main

jobs:
  demoDeploy:
    name: demoDeploy
    runs-on: ubuntu-latest
    environment:
      name: demo                #An environment named 'demo' has to be created in Github secrets. 
      url: https://test.com
    strategy:
      matrix:
        node-version: [14.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci                                 #npm ci is similar to npm install, except that package-lock.json is not modified. 
    - run: echo Running Test Cases
    - run: npm test
    - name: Install Plugin and Deploy
      uses: serverless/github-action@v3.1
      with:
        args: -c "serverless plugin install --name serverless-iam-roles-per-function && serverless deploy --stage dev"
        entrypoint: /bin/sh
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}     #AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY secrets have to be stored in the above environment of Github secrets
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}